.content-meta {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--gray);
  font-size: 0.9rem;
  margin-bottom: 1rem;

  .reading-stats {
    color: var(--gray);
  }

  .last-updated {
    color: var(--gray);
    font-style: italic;
  }

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
